{% extends "blog/base.html" %}

{% block parte_central %}
<h1 style="margin-bottom: 20px;">Família</h1>
{%for membro in familia%}
<div style="padding-bottom: 0px;">
    {% if membro.nome %}
    <h2 style="margin-bottom: 10px; margin-top: 15px; font-family: 'Franklin Gothic Medium'; font-size: 30px;">{{membro.nome}}</h2>
    {% else %}
    {% endif %}
    {% if membro.parentesco %}
    <p style="margin-top: 0px; ">{{membro.parentesco}}</p>
    {% else %}
    {% endif %}
    {% if membro.imagem %}
    <img src="{{ membro.imagem.url }}" alt="Imagem de {{membro.nome}}" width="531px">
    {% else %}
    {% endif %}
    {% if membro.descricao %}
    <p style="max-width: 80%; margin: auto; margin-top: 16px; margin-bottom: 16px; text-align: left;">{{membro.descricao}}</p>
    {% else %}
    {% endif %}
</div>
{%endfor%}
{% endblock %}