{% extends "blog/base.html" %}

{% block parte_central %}

<h1 style="margin-bottom: 20px;">Rotina - lugares que vou</h1>

{%for rotinas in rotina%}

<div style="padding-bottom: 0px;">
    {% if rotinas.titulo %}
    <h2 style="margin-bottom: 10px; margin-top: 15px; text-align: left; font-family: 'Franklin Gothic Medium'; font-size: 30px;">{{rotinas.titulo}}</h2>
    {% else %}
    {% endif %}
    {% if rotinas.descricao %}
    <p style="margin-top: 0px; text-align: left;">{{rotinas.descricao}}</p>
    {% else %}
    {% endif %}
    {% if rotinas.imagem %}
    <img src="{{ rotinas.imagem.url }}" alt="Imagem de {{rotinas.titulo}}" width="670px" >
    {% else %}
    {% endif %}


</div>
{%endfor%}
{% endblock %}